In [26]:
%matplotlib inline
import ONCdb
import os
from ONCdb import make_onc as mo
from astrodbkit import astrodb, astrocat
DIR_PATH = os.path.dirname(os.path.realpath(ONCdb.__file__))

# Make the ONCdb

Here are step-by-step instructions on how to generate the ONCdb from VizieR catalogs.

### Step 1: Initialize the database and ingest the raw data

In [51]:
# Initialize a database
onc = astrocat.Catalog()

In [52]:
# Ingest a VizieR catalog by supplying a path, catalog name, and column name of a unique identifier 
onc.ingest_data(DIR_PATH+'/raw_data/viz_acs.tsv', 'ACS', 'ONCacs', count=10)

# The raw dataset is stored as an attribute
print(onc.ACS)

Ingesting 10 rows from ACS catalog...
   source_id    ra_corr  dec_corr   catID   _RAJ2000  _DEJ2000  ONCacs  N  \
0        NaN  83.541204 -5.373961   ACS_1  83.541204 -5.373961       1  1
1        NaN  83.542708 -5.364525   ACS_2  83.542708 -5.364525       2  1
2        NaN  83.546296 -5.381794   ACS_3  83.546296 -5.381794       3  1
3        NaN  83.546446 -5.344578   ACS_4  83.546446 -5.344578       4  1
4        NaN  83.548421 -5.369708   ACS_5  83.548421 -5.369708       5  1
5        NaN  83.548842 -5.335642   ACS_6  83.548842 -5.335642       6  1
6        NaN  83.550067 -5.411064   ACS_7  83.550067 -5.411064       7  1
7        NaN  83.550104 -5.405411   ACS_8  83.550104 -5.405411       8  1
8        NaN  83.550262 -5.370828   ACS_9  83.550262 -5.370828       9  1
9        NaN  83.550942 -5.419003  ACS_10  83.550942 -5.419003      10  1

   NIC       RAJ2000         ...           e_F658N f_F658N    F775W  e_F775W  \
0    0  05 34 09.889         ...           22.1858       0  21.4007   0.0182
1    0  05 34 10.250         ...           22.3662       0  23.0738   0.1010
2    0  05 34 11.111         ...                         3  13.1155
3    0  05 34 11.147         ...           22.5356       0  22.4234   0.0338
4    0  05 34 11.621         ...            0.1018       1  21.9795   0.0225
5    0  05 34 11.722         ...           22.4685       0  22.8860   0.0333
6    0  05 34 12.016         ...           21.9786       0  23.2261   0.1432
7    0  05 34 12.025         ...            0.0141       1  15.7541   0.0019
8    0  05 34 12.063         ...           22.3218       0  21.5570   0.0192
9    0  05 34 12.226         ...           21.8584       0           24.9370

   f_F775W   F850LP e_F850LP  f_F850LP type                  Obs
0        1  20.4673   0.0185         1    2  2005-03-31T06:44:32
1        1  21.7399   0.0658         1    1  2005-03-31T06:44:32
2        3  12.1555                  3    1  2005-03-31T06:44:32
3        1  21.4191   0.0419         1    1  2005-03-31T06:44:32
4        1  20.4511   0.0186         1    1  2005-03-31T06:44:32
5        1  21.1893   0.0351         1    1  2005-03-31T06:44:32
6        1  22.4958   0.0612         1    1  2005-04-07T06:40:27
7        2  14.7022   0.0021         2    1  2005-04-07T06:40:27
8        1  20.3896   0.0215         1    1  2005-03-31T06:44:32
9        0  21.7234   0.0428         1    7  2005-04-07T06:40:27

[10 rows x 29 columns]

In [53]:
# Add another one! (This is a test file with a fake match of the ACS catalog)
onc.ingest_data(DIR_PATH+'/raw_data/viz_wfpc2.tsv', 'WFPC2', 'ONCpc2', count=10)
print(onc.WFPC2)

Ingesting 10 rows from WFPC2 catalog...
   source_id    ra_corr  dec_corr     catID   _RAJ2000  _DEJ2000  ONCpc2  N  \
0        NaN  83.562867 -5.383325   WFPC2_1  83.562867 -5.383325       1  1
1        NaN  83.568987 -5.382300   WFPC2_2  83.568987 -5.382300       2  1
2        NaN  83.571933 -5.376869   WFPC2_3  83.571933 -5.376869       3  1
3        NaN  83.572079 -5.379994   WFPC2_4  83.572079 -5.379994       4  1
4        NaN  83.593296 -5.374150   WFPC2_5  83.593296 -5.374150       5  1
5        NaN  83.576562 -5.381911   WFPC2_6  83.576562 -5.381911       6  1
6        NaN  83.586642 -5.391425   WFPC2_7  83.586642 -5.391425       7  2
7        NaN  83.586642 -5.391425   WFPC2_8  83.586642 -5.391425       7  2
8        NaN  83.603204 -5.369567   WFPC2_9  83.603204 -5.369567       9  1
9        NaN  83.610421 -5.389997  WFPC2_10  83.610421 -5.389997      10  1

   NIC       RAJ2000   ...    f_F336W    F439W  e_F439W  f_F439W    F656N  \
0    0  05 34 15.088   ...          1  20.7107   0.1641        1  17.0872
1    0  05 34 16.557   ...          0           21.5216        2
2    0  05 34 17.264   ...          1  20.6517   0.1028        1  17.2461
3    0  05 34 17.299   ...          1  21.4937   0.2097        1  16.9737
4    1  05 34 22.391   ...          1  21.2905   0.1492        1  17.1299
5    0  05 34 18.375   ...          2  22.0014   0.2726        1  18.5023
6    0  05 34 20.794   ...          1  18.0673   0.0248        1  14.5985
7    0  05 34 20.794   ...          1  19.0211   0.0370        1  15.3076
8    1  05 34 24.769   ...          1  18.0260   0.0237        1  14.7178
9    0  05 34 26.501   ...          1  19.6294   0.0475        1  15.3970

   e_F656N  f_F656N    F814W  e_F814W  f_F814W
0   0.0385        1  16.2458   0.0193        1
1  19.3995        2  18.6440   0.0772        1
2   0.0469        1  16.4892   0.0214        1
3   0.0429        1  16.0760   0.0175        1
4   0.0643        1  15.5635   0.0147        1
5   0.0973        1  17.5885   0.0432        1
6   0.0139        1  14.6187   0.0119        1
7   0.0192        1  14.7453   0.0124        1
8   0.0158        1  14.1085   0.0114        1
9   0.0205        1  14.2740   0.0115        1

[10 rows x 23 columns]

### Step 2: Cross-match the sources

In [54]:
# Now let's group the sources by some critical distance in arcseconds 
# and assign IDs for our new custom database sources
onc.group_sources()

In [55]:
# Summary of what we've done
onc.info

2018-01-25 15:06:01: Database created
2018-01-25 15:06:02: Catalog ACS ingested.
2018-01-25 15:06:02: Catalog WFPC2 ingested.
2018-01-25 15:06:03: Catalog grouped with radius 0.0001 arcsec.

In [56]:
# Take a look again
onc.catalog

    id         ra       dec flag
0    1  83.562867 -5.383325
1    2  83.568987 -5.382300
2    3  83.571933 -5.376869
3    4  83.572079 -5.379994
4    5  83.593296 -5.374150
5    6  83.576562 -5.381911
6    7  83.586642 -5.391425   d2
7    8  83.603204 -5.369567
8    9  83.610421 -5.389997
9   10  83.541204 -5.373961
10  11  83.542708 -5.364525
11  12  83.546296 -5.381794
12  13  83.546446 -5.344578
13  14  83.548421 -5.369708
14  15  83.548842 -5.335642
15  16  83.550067 -5.411064
16  17  83.550104 -5.405411
17  18  83.550262 -5.370828
18  19  83.550942 -5.419003

In [57]:
# # Now let's correct the WFPC2 sources for some systematic offset
# onc.correct_offsets('WFPC2', truth='ACS')

# # And now the corrected data
# print('Corrected and original WFPC2 sources:')
# print(onc.catalog[onc.catalog['cat_name']=='WFPC2'][['oncID','ra_corr','dec_corr','_RAJ2000','_DEJ2000']])

In [58]:
onc.info

2018-01-25 15:06:01: Database created
2018-01-25 15:06:02: Catalog ACS ingested.
2018-01-25 15:06:02: Catalog WFPC2 ingested.
2018-01-25 15:06:03: Catalog grouped with radius 0.0001 arcsec.

### Step 3: Generate the SQL database

In [60]:
# Generate the ONCdb
mo.generate_ONCdb(onc)

Generating changelog...
Generating ignore...
Generating modes...
Generating systems...
Generating publications...
Generating instruments...
Generating telescopes...
Generating versions...
Generating sources...
Generating photometry...
Generating spectral_types...
Generating parallaxes...
Generating proper_motions...
Generating radial_velocities...
Generating spectra...
Generating images...
Tables saved to directory /Users/jfilippazzo/Documents/Modules/ONCdb/tabledata/
=======================================================================================
You can now run git to commit and push these changes, if needed.
For example, if on the master branch you can do the following:
  git add /Users/jfilippazzo/Documents/Modules/ONCdb/orion.sql /Users/jfilippazzo/Documents/Modules/ONCdb/tabledata/*.sql
  git commit -m "COMMIT MESSAGE HERE"
  git push origin master
You can then issue a pull request on GitHub to have these changes reviewed and accepted
=======================================================================================

In [62]:
# Check that it worked
db = astrodb.Database(DIR_PATH+'/orion.sql')

Renaming existing file /Users/jfilippazzo/Documents/Modules/ONCdb/orion.db to /Users/jfilippazzo/Documents/Modules/ONCdb/orion2018-01-25_15-07.db
Populating database...
Loading changelog
Loading ignore
Loading modes
Loading systems
Loading publications
Loading instruments
Loading telescopes
Loading versions
Loading sources
Loading photometry
Loading spectral_types
Loading parallaxes
Loading proper_motions
Loading radial_velocities
Loading spectra
Loading images
Database ready for use

In [160]:
db.query("SELECT * FROM browse", fmt='table')

<Table length=19>
  id      ra       dec    designation ... photometry parallaxes spectral_types
int64  float64   float64     object   ...   int64      int64        int64
----- --------- --------- ----------- ... ---------- ---------- --------------
    1 83.541204 -5.373961        None ...          5          0              0
    2 83.542708 -5.364525        None ...          5          0              0
    3 83.546296 -5.381794        None ...          5          0              0
    4 83.546446 -5.344578        None ...          5          0              0
    5 83.548421 -5.369708        None ...          5          0              0
    6 83.548842 -5.335642        None ...          5          0              0
    7 83.550067 -5.411064        None ...          5          0              0
    8 83.550104 -5.405411        None ...          5          0              0
    9 83.550262 -5.370828        None ...          5          0              0
   10 83.550942 -5.419003        None ...          5          0              0
   11 83.598709 -5.383325        None ...          0          0              0
   12 83.577056 -5.373961        None ...          0          0              0
   13 83.607775 -5.376869        None ...          0          0              0
   14 83.607921 -5.379994        None ...          0          0              0
   15 83.629138  -5.37415        None ...          0          0              0
   16 83.612404 -5.381911        None ...          0          0              0
   17 83.622484 -5.391425        None ...          0          0              0
   18 83.639046 -5.369567        None ...          0          0              0
   19 83.646263 -5.389997        None ...          0          0              0

Hooray!